Requirements :

Required Modules are:

#1. Random
#2. Array

#You Can Change The Password Length As Per Your Desire In The Code Where Mentioned In Comments

#(For More Queries Reach Out To Our Github Page "AnonymousDev12008")